body
{
    background-image: url('2.jpg');
}
.box
{  
    width: 643px;
    height: 503px;
    border: solid #FE2027 1px;
}
h1
{
    text-align: center;
}
.ramka
{
   padding: 3px;
   width: 650px;
}
.btn
{
    width: 319px;
    margin-top: 2px;
}
.btn-danger
{
    margin-left: 1px;
}
.link
{
    float: right;
    margin-right: 15px;
    color: #FF005C;
}
.checkbox
{
    float: right;
    margin-right: 5px;
}
a:hover
{
    color: #be0046;
}
@media only screen and (min-width: 320px)
{
    .ramka
    {
        background-color: black !important;
    }
}